.container{
    height: 50px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}
.images{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}
.images:hover{
    opacity: 1;
}